In [ ]:
!pip install yfinance
import yfinance as yf
import pandas as pd

from IPython.core.display import clear_output
clear_output()

# **yfinance**

**yfinance is a Python module created after Yahoo! Finance's API was discontinued. The module allows users to download historical market data from Yahoo! Finance.**

<sup>Source: [Reliably download historical market data from Yahoo! Finance with Python](https://aroussi.com/post/python-yahoo-finance) by Ran Aroussi<sup/>

## **Downloading Historial Stock and Index Data**

In [2]:
#periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
#intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo

nasdaq_100 = yf.download(tickers='qqq',period='1y',interval='1mo',rounding=True)

[*********************100%***********************]  1 of 1 completed

In [3]:
nasdaq_100

              Open    High     Low   Close  Adj Close        Volume
Date
2021-12-01  398.28  404.58  377.47  397.85     395.38  1.232817e+09
2022-01-01  399.05  402.28  334.15  363.05     361.26  1.847203e+09
2022-02-01  364.43  370.10  318.26  346.80     345.09  1.522924e+09
2022-03-01  345.75  371.83  317.45  362.54     360.75  1.686793e+09
2022-04-01  362.81  369.31  312.60  313.25     312.09  1.501959e+09
2022-05-01  312.83  330.29  280.21  308.28     307.14  1.951162e+09
2022-06-01  310.47  314.56  269.28  280.28     279.24  1.359608e+09
2022-07-01  278.95  316.39  276.75  315.46     314.89  1.178026e+09
2022-08-01  313.65  334.42  298.44  299.27     298.73  1.069920e+09
2022-09-01  296.72  311.08  267.10  267.26     266.78  1.370989e+09
2022-10-01  269.07  284.60  254.26  277.95     277.95  1.356809e+09
2022-11-01  281.50  293.26  259.08  284.82     284.82  9.024665e+08
2022-11-21  283.40  284.58  281.04  281.89     281.89  4.008353e+07

## **Downloading Historical Prices for Multiple Stocks**

In [4]:
etf_data = yf.download(tickers='qqq spy dia',period='1y',interval='1mo',rounding=True)

[*********************100%***********************]  3 of 3 completed

In [5]:
etf_data

           Adj Close                   Close                    High          \
                 DIA     QQQ     SPY     DIA     QQQ     SPY     DIA     QQQ
Date
2021-12-01    356.47  395.38  467.88  363.32  397.85  474.96  366.72  404.58
2022-01-01    345.10  361.26  444.76  351.08  363.05  449.91  369.50  402.28
2022-02-01    333.81  345.09  431.63  339.34  346.80  436.63  358.10  370.10
2022-03-01    341.69  360.75  446.47  346.83  362.54  451.64  353.71  371.83
2022-04-01    325.53  312.09  408.55  329.69  313.25  412.00  354.88  369.31
2022-05-01    326.16  307.14  409.47  330.20  308.28  412.93  341.17  330.29
2022-06-01    304.78  279.24  374.09  307.82  280.28  377.25  332.95  314.56
2022-07-01    326.16  314.89  410.30  328.66  315.46  411.99  329.27  316.39
2022-08-01    313.38  298.73  393.56  315.65  299.27  395.18  343.09  334.42
2022-09-01    285.79  266.78  355.72  287.30  267.26  357.18  325.68  311.08
2022-10-01    326.56  277.95  386.21  327.42  277.95  386.21  328.89  284.60
2022-11-01    336.69  284.82  396.03  337.37  284.82  396.03  340.12  293.26
2022-11-21    337.05  281.89  394.59  337.05  281.89  394.59  338.65  284.58

                       Low                    Open                  \
               SPY     DIA     QQQ     SPY     DIA     QQQ     SPY
Date
2021-12-01  479.00  340.32  377.47  448.92  348.04  398.28  461.64
2022-01-01  479.98  331.35  334.15  420.76  364.34  399.05  476.30
2022-02-01  458.12  322.69  318.26  410.64  351.66  364.43  450.68
2022-03-01  462.07  326.06  317.45  415.12  337.27  345.75  435.04
2022-04-01  457.83  329.10  312.60  411.21  348.15  362.81  453.31
2022-05-01  429.66  306.28  280.21  380.54  330.35  312.83  412.07
2022-06-01  417.44  296.39  269.28  362.17  332.41  310.47  415.17
2022-07-01  413.03  301.47  276.75  371.04  307.40  278.95  376.56
2022-08-01  431.73  315.60  298.44  395.04  326.91  313.65  409.15
2022-09-01  411.73  287.04  267.10  357.04  314.29  296.72  392.89
2022-10-01  389.52  286.62  254.26  348.11  290.56  269.07  361.08
2022-11-01  402.31  317.18  259.08  368.79  329.37  281.50  390.14
2022-11-21  395.82  335.53  281.04  392.66  337.66  283.40  394.64

                 Volume
                    DIA           QQQ           SPY
Date
2021-12-01  121742800.0  1.232817e+09  1.927434e+09
2022-01-01  207917000.0  1.847203e+09  2.485168e+09
2022-02-01  139897900.0  1.522924e+09  2.297975e+09
2022-03-01  127876900.0  1.686793e+09  2.380930e+09
2022-04-01  103814200.0  1.501959e+09  1.856757e+09
2022-05-01  125438000.0  1.951162e+09  2.418478e+09
2022-06-01   79873500.0  1.359608e+09  1.958612e+09
2022-07-01   58151800.0  1.178026e+09  1.437748e+09
2022-08-01   64243500.0  1.069920e+09  1.443394e+09
2022-09-01   73801400.0  1.370989e+09  1.998909e+09
2022-10-01   90874400.0  1.356809e+09  2.024732e+09
2022-11-01   67188200.0  9.024665e+08  1.270472e+09
2022-11-21    2287944.0  4.008353e+07  4.505999e+07

In [6]:
etf_data['Adj Close']

               DIA     QQQ     SPY
Date
2021-12-01  356.47  395.38  467.88
2022-01-01  345.10  361.26  444.76
2022-02-01  333.81  345.09  431.63
2022-03-01  341.69  360.75  446.47
2022-04-01  325.53  312.09  408.55
2022-05-01  326.16  307.14  409.47
2022-06-01  304.78  279.24  374.09
2022-07-01  326.16  314.89  410.30
2022-08-01  313.38  298.73  393.56
2022-09-01  285.79  266.78  355.72
2022-10-01  326.56  277.95  386.21
2022-11-01  336.69  284.82  396.03
2022-11-21  337.05  281.89  394.59

## **Downloading Company Financial Data**

In [7]:
aapl = yf.Ticker('AAPL')

In [8]:
aapl.get_financials()

,2022-09-24,2021-09-25,2020-09-26,2019-09-28
Research Development,26251000000.0,21914000000.0,18752000000.0,16217000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,119103000000.0,109207000000.0,67091000000.0,65737000000.0
Minority Interest,None,None,None,None
Net Income,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Selling General Administrative,25094000000.0,21973000000.0,19916000000.0,18245000000.0
Gross Profit,170782000000.0,152836000000.0,104956000000.0,98392000000.0
Ebit,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Operating Income,119437000000.0,108949000000.0,66288000000.0,63930000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2931000000.0,-2645000000.0,-2873000000.0,-3576000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,19300000000.0,14527000000.0,9680000000.0,10481000000.0
Total Revenue,394328000000.0,365817000000.0,274515000000.0,260174000000.0
Total Operating Expenses,274891000000.0,256868000000.0,208227000000.0,196244000000.0
Cost Of Revenue,223546000000.0,212981000000.0,169559000000.0,161782000000.0
Total Other Income Expense Net,-334000000.0,258000000.0,803000000.0,1807000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,99803000000.0,94680000000.0,57411000000.0,55256000000.0
Net Income Applicable To Common Shares,99803000000.0,94680000000.0,57411000000.0,55256000000.0

## **Retrieve Financial News**

In [9]:
aapl.get_news()

[{'uuid': '5175f748-e411-3edf-9955-abff2cbc2474',
  'title': 'Analyzing Apple (AAPL) Stock Before Black Friday',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/analyzing-apple-aapl-stock-black-001112124.html',
  'providerPublishTime': 1669075872,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/0SNXbTxG2OgdDeKKe4FwJg--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/198e4657665063ae21a99b90e6766582',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/JKNCOji4J0pVoJ.ohH5yHQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/198e4657665063ae21a99b90e6766582',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']},
 {'uuid': 'a5cf5401-daef-3937-b35c-abd7e3d56b20',
  'title': 'Elon Musk-Apple War Heats Up',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/a5cf5401-daef-3937-b35c-abd7e3d56b20/elon-musk-apple-war-heats-up.html',
  'providerPublishTime': 1669075260,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/SSzSxf.yVJHTdXjVWN_A0g--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/dc106d02d9bd28857f3885c776aaa6aa',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/BvbfvrL5u48aOlTMW2fE3w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/dc106d02d9bd28857f3885c776aaa6aa',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']},
 {'uuid': 'ad1f69d7-67a2-336b-8024-011ee5f94f39',
  'title': '14 Best Blue Chip Dividend Stocks to Buy',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/14-best-blue-chip-dividend-233523206.html',
  'providerPublishTime': 1669073723,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/F7ASUGWniPpFVKP8YGYmmw--~B/aD01MTA7dz03Njg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/insidermonkey.com/8c2969fac5d580e07ac49fce7b77f8f8',
     'width': 768,
     'height': 510,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Nt8XAZcRKIJB9_9DEleqIw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/8c2969fac5d580e07ac49fce7b77f8f8',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['UNH',
   'AAPL',
   'MA',
   'MSFT',
   'PH',
   'ACN',
   '^GSPC',
   'NDSN',
   'NKE',
   'WMT',
   'PG',
   'PEP',
   'XOM']},
 {'uuid': '1789b3dd-b928-303c-991f-d3f540834337',
  'title': 'Why Apple Stock Traded Lower on Monday',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/1789b3dd-b928-303c-991f-d3f540834337/why-apple-stock-traded-lower.html',
  'providerPublishTime': 1669069080,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/8nHeKmeYrAXYDJOk0tpODg--~B/aD0yMTYwO3c9Mzg0MDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/312bd72efd7a2c883ade07ee64f9a019',
     'width': 3840,
     'height': 2160,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/PQ57KqGLR6R2jsWd_bi71w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/312bd72efd7a2c883ade07ee64f9a019',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL']},
 {'uuid': 'b266a21f-9587-49d6-9dcf-4ee8c90d4a6d',
  'title': 'The hottest holiday tech gifts for 2022',
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/the-hottest-holiday-tech-gifts-for-2022-211002960.html',
  'providerPublishTime': 1669065002,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Y9cRLWsuDNPyRfgfumti3Q--~B/aD0zMzMzO3c9NTAwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2021-12/2bc2e300-675b-11ec-bcfe-2fa09d237f52',
     'width': 5000,
     'height': 3333,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/mccbOWLpITXnhEIPu6wi8w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2021-12/2bc2e300-675b-11ec-bcfe-2fa09d237f52',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG',
   'GOOGL',
   'MSFT',
   'AAPL',
   'AMZN',
   'SNEJF',
   'SONY']},
 {'uuid': '3bd02fbf-a3e9-3566-ab9b-1c2562933256',
  'title': 'The most sought-after tech gifts of 2022',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/most-sought-tech-gifts-2022-195736914.html',
  'providerPublishTime': 1669060656,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/AjJIxVPAokBIsbjk7ntY7g--~B/aD0xNTA0O3c9MjY3NzthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2022-11/bc5d91c0-69d6-11ed-bff9-c06bfce6c036',
     'width': 2677,
     'height': 1504,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/HLwvvQFiO8F8de.pRW.yCQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-11/bc5d91c0-69d6-11ed-bff9-c06bfce6c036',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'SNEJF', 'SONY', 'MSFT']},
 {'uuid': '28317f7f-2ac6-4193-8989-f3b5aac69c49',
  'title': 'Bob Iger boomerangs as Disney CEO: What success looks like this time',
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/bob-iger-boomerangs-as-disney-ceo-what-success-looks-like-this-time-184744557.html',
  'providerPublishTime': 1669056464,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/y5MhdQDjrwJFWgUsspu8rQ--~B/aD0yNzMxO3c9NDE5MjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2022-11/81694c80-69cc-11ed-969f-4d2da7a447e4',
     'width': 4192,
     'height': 2731,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/O3H6LJHep9I5wInhbWEA2w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-11/81694c80-69cc-11ed-969f-4d2da7a447e4',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TWTR', 'AAPL', 'DIS']},
 {'uuid': 'e1f0fdb0-a9ed-30ec-9461-4dac05579438',
  'title': 'Apple Stock Slides On Report of Extended iPhone Wait Times Amid China Covid Restrictions',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/e1f0fdb0-a9ed-30ec-9461-4dac05579438/apple-stock-slides-on-report.html',
  'providerPublishTime': 1669045320,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/LPw00LtpuMucBrVDpbbcaw--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/f84ece2e3fa18108c109dc62d22560c1',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/0QQ3XQVypLBANLKCGJgWJQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/f84ece2e3fa18108c109dc62d22560c1',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', '2317.TW']}]

## **Retrieve Financial Analys Recommendations**

In [11]:
aapl.recommendations

                                  Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity           Buy              main
2012-03-08 07:33:00     FBN Securities    Outperform              main
2012-03-13 06:08:00          Jefferies           Buy              main
2012-03-14 06:13:00     Morgan Stanley    Overweight              main
2012-03-14 08:21:00  Canaccord Genuity           Buy              main
...                                ...           ...        ...    ...
2022-10-28 13:19:17            Wedbush    Outperform              main
2022-11-07 12:39:27           Barclays  Equal-Weight              main
2022-11-07 13:08:30  B of A Securities       Neutral              main
2022-11-08 12:14:23     Morgan Stanley    Overweight              main
2022-11-08 12:17:03                UBS           Buy              main

[871 rows x 4 columns]

# **References and Additional Learning**

## **Article**

- **[Reliably download historical market data from Yahoo! Finance with Python](https://aroussi.com/post/python-yahoo-finance) by Ran Aroussi**

## **Website**

- **[yfinance module](https://github.com/ranaroussi/yfinance) on GitHub.com**

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [Twitter](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**